@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #212529;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #343a40;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #212529;
  margin-bottom: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Button Styles */
button {
  font-family: 'Montserrat', sans-serif; /* Montserrat for strong button text */
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #00b09b, #00a080);
}


.fancy-car-icon {
  color: #ff6f61;
  font-size: 2.5rem;
  animation: moveLeftToRight 3s infinite alternate ease-in-out; /* Horizontal movement animation */
  transition: transform 0.3s ease, color 0.3s ease;
}

.fancy-car-icon:hover {
  color: #00b09b; 
  transform: scale(1.3);
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px); 
  }
}
